<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true"
internalLogLevel="Trace"
internalLogFile="D:\ProjectWeb\Server\ElectronicSales_BackEnd.WebAPIV2\ElectronicSales_BackEnd\internal_logs\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"
		fileName="D:\ProjectWeb\Server\ElectronicSales_BackEnd.WebAPIV2\ElectronicSales_BackEnd\logs\${shortdate}_logfile.txt"
		layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>